<footer>
	<div class="container">
		<div class="row-fluid footer">
			<div class="span3 brand">
				<a id="wordmark" href="//www.uchicago.edu">The University of Chicago</a>
				<p>&copy; 2013 The University of Chicago</p>
			</div>
			<div class="span3 info">
				<div class="view-footer">
					<div class="field-content">5801 S. Ellis Ave.</div>
					<div class="field-content">Chicago, IL 60637</div>
					<div class="field-content">United States</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="j/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="/j/core.min.js"></script>
<!--[if lte IE 8]><script src="j/libs/respond.min.js"></script><![endif]-->
<script src="/j/cache.js"></script>
<script src="///webresources.uchicago.edu/js/jquery-ui-1.8.11.custom.js"></script>	
<script src="/j/jquery.timer.js"></script>
<script src="/j/jquery.dataTables.min.js"></script>
<script src="/j/datatable.js"></script>