/* Responsive design */

@media screen and (max-width: 600px) {
.grid_3, .grid_4, .grid_6, .grid_8, .grid_9 {margin:0; width:auto !important; float:none; display:block; position:static}
#main{width:100%;}
.container_12{width:auto}
.container_12 .push_3{left:0}
#sidebar-second{margin:20px -8px 0}
#content{width:auto; padding:0 8px}
#main{margin-bottom:0}
#page-wrapper{min-width:0;}

/* Collapse sidebar blocks by default */
.sidebar .block{padding-bottom:0; margin-bottom:1px;}
.sidebar .block h2{margin-bottom:0; padding:10px; cursor: pointer;}
.sidebar .block h2:after{content:"\00a0\203A";}
.sidebar .block h2+.content{display:none;}
.sidebar .block .content{margin-bottom:10px}
/* Some exceptions */
#block-search-form{padding-bottom:0}
/* */
#block-search-form div.content,#block-views-news-summarynewsblock div.content,#block-relatedlinks div.content{padding:0;margin:0;background:#eaeae1;font-size:11px}
#block-search-form ul,#block-views-news-summarynewsblock ul,#block-relatedlinks ul{padding:0}
#block-search-form ul li,#block-views-news-summarynewsblock ul li,#block-relatedlinks ul li{padding:8px 4px 8px 24px;margin-bottom:0!important;background:url(../../images/greybullet.gif) no-repeat scroll 10px 14px}
#block-search-form div.container-inline{padding:10px!important}

#header{width:100%; background-image:none; height:auto}
#header .container_12{padding:0 8px}
#site-name{padding-top: 10px}
#dept-title{text-indent:0; background-image:none !important; font-size:2.4em; line-height:1em; height:auto; margin-bottom:10px; color:#fff !important}
#wordmark{height:30px; width:137px; padding-bottom:10px}
#wordmark{text-indent:-9999px; background-size:137px 30px; -webkit-background-size:137px 30px; -o-background-size:137px 30px; background-position:top left}

#leftnav{margin:0 -8px 24px -8px; padding:0 -8px; display:none}
#leftnav .content a {padding-top:8px; padding-bottom:10px}
#leftnav .content ul li ul li{padding-top:8px; padding-bottom:8px; background-position:10px 14px}
#leftnav .content ul li a:after{content:"\00a0\203A";}

img{max-width:100%}

#toggle-nav{display:block;float:right; position:relative; top:-38px; padding-right:8px; height:0;}
#toggle-nav a{color:#fff; display:block; background:url(../images/mobilesprite.png) 60px 19px no-repeat; height:20px; padding:10px 15px 8px; font-size:1.5em}
#toggle-nav a:focus, #toggle-nav a:hover{text-decoration:none;}

.not-front #leftnav {margin-top:-32px}

.block ul li {
    background: url("../images/greybullet.gif") no-repeat scroll 10px 14px transparent !important;
    margin-bottom: 0 !important;
    padding: 8px 4px 8px 24px;
}

#footer{width:auto; margin:0; padding: 8px}

}
