{% extends "layout.twig" %}

{% block title %}Secure Directory{% endblock %}

{% block content %}

	<div class="">
		<h1 class="page-title">Site Under Maintenance</h1>
		<div class="row">
			<div class="span9 pull-right">
				<div class="maincontent">

					<p>The advisory councils data is currently being migrated to a new system. We expect the site to be available with new data by  July 14, 2023.</p>
					<p>Thank you for your patience.</p>

				</div>
			</div>				
					
		</div>
	</div>

{% endblock content %}