{% extends "layout.twig" %}

{% block title %}Secure Directory{% endblock %}

{% block content %}
	<div class="">
		
			<div class="row">
				<div class="span9 pull-right">
					<div class="maincontent">
						<p>You may browse the directory by committee or search for a committee member by name.</p>
						<div class="row-fluid">
							<div class="span5">
								<h3>Browse by Committee</h3>
								<form action="results.php" method="post" name="by_committee">
									<div>
										<select name="committee" size="1">
											<option value="" selected>-- Select -- </option>
											{% for c in committees %}
											<option value="{{ c.COMMITTEE_CODE }}">{{ c.SHORT_DESC }}</option>
											{% endfor %}
										</select>
										<div>
											<input class="btn" type="submit" name="search_by_committee" value="Go" />
										</div>
									</div>
								</form>
							</div>
							<div class="span5">
								<h3>Search by Name</h3>
								<form action="results.php" method="post" name="by_name">
									<div class="w50 first" id="">
										<label for="f_name">First Name</label>
										<input name="f_name" type="text" />
									</div>
									<div class="w50 first" id="">
										<label for="l_name">Last Name</label>
										<input name="l_name" type="text" />
									</div>
									<div>
										<input class="btn" type="submit" name="search_by_name" value="Search" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>	
		</div>

{% endblock content %}