<div id="block-search-form" class=" block block-search">
<h2>Search</h2>
	<div class="content">
		<form action="/page/quick-start-guide" method="post" id="search-block-form" accept-charset="UTF-8">
			<div class="container-inline">
				<div class="form-item form-type-textfield form-item-search-block-form">
					<label class="element-invisible" for="edit-search-block-form--2">Search</label>
					<input title="Enter the terms you wish to search for." type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text" />
				</div>
				<div class="form-actions form-wrapper" id="edit-actions">
					<input type="submit" id="edit-submit" name="op" value="Search" class="form-submit" />
				</div>
				<input type="hidden" name="form_build_id" value="form-zaDw2gUuvUepCYAzD9db3pIp5u6WR_LNOHqW_gfxU_o" />
				<input type="hidden" name="form_id" value="search_block_form" />
			</div>
			<div class="clearfix"></div>
		</form>
	</div>
</div>